* {
    margin: 0%;
    padding: 0%;
}
.zxlogo{
border:0;
}
.stiky{
    z-index: 1;
    background-color: aliceblue;
    position: fixed;
    width: 100%;
    margin-top:-100px;
    background-color:white;
    color: black;
    height: auto;
}

.zxnav {
    width: 100%;
    height: auto;
    /* border: 1px red solid; */
    margin-top: 20px;
}

.zxlogobox1 {
    display: flex;

    justify-content: space-around;
}

.zxlogobox1>a>img {
    padding-left: 400px;
    padding-right: 200px;
}

.zxlogcon {

    display: flex;
    gap: 10px;


}
#search{
    margin-top:20px;
}

.zxlogcon a>img {
    width: 25px;
    height: 25px;
    margin-top: 15px
}

/* for new line */
/* .nav{
    /* margin-left: 50px;
    margin-right: 50px; */
.nav {
    width: 99%;
    margin: auto;
    display: flex;
    /* grid-template-columns: (auto auto auto auto auto auto auto auto auto);
    grid-template-rows: auto;
    row-gap: 10px; */


    /* align-items: center; */
    justify-content: space-around;
    margin-top: 0px;

    /* width: 100%; */
    background: #fff;
    height: 50px;
    /* border: 1px red solid; */
}

.CLEARANCE {
    color: red;
}

ul {

    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
}

ul li {

    float: left;
    margin-top: 5px;
}

ul li a {

    width: 100%;
    color: rgb(95, 93, 93);
    display: flex;
    text-decoration: none;
    font-size: 15px;
    padding: 15px;
    border-radius: 10px;
    font-family: Helvetica, Helvetica, Arial, sans-serif;
    margin-left: 9px;

}

a:hover {
    text-decoration: none;
}

ul li ul {
    background: white;
}

ul li ul {
    display: none;
}

ul li:hover ul {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    background: white;
    color: black;
}

.nav>ul>li>a:hover {
    text-decoration: underline;
}
.bodyimg{
    padding-top: 150px;
}
.bodyimg>img {
    width: 100%;
    height: 400px;
    margin-bottom: 10px;
}

.heading1x {
    position: absolute;
    top: 30%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #fff;
    /* cursor: pointer; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;
}

.heading2x {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: #fff;
    /* cursor: pointer; */
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 2px;

}

.btn {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    text-align: center;

}
















#main{
    /* border:1px solid black; */
    width:90%;
    margin:auto;
    margin-top: 100px;
    height:auto;
    margin-bottom: 200px;
    display:flex;
}
#left{
    /* border:1px solid red; */
    width:57%;
    padding:10px;
    display:flex;
    justify-content: space-around;
    
}
#right{
   /* border: 1px solid blue; */
   width:41%;
}
#firstleft{
 width:15%;
 height:50%;
 /* border:1px solid black; */

}

#secondleft{
    width:65%;
    height:100%;
    /* border:1px solid green; */
    text-align: center;
}
#firstleft>div{
    height:32%;
    margin-bottom:5px;
    overflow: hidden;
    /* border:1px solid green; */
    text-align: center;
}
#firstleft>div:hover{
    border:1px solid black;
}
#firstleft>div>img{
    width:100%;
}
#secondleft>img{
    width:100%;
}
#brand{
    font-size: 20px;
text-transform: uppercase;
font-weight: 700;
    font-family: Futura,sans-serif;
letter-spacing: .025em;
line-height: 1.6;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
text-rendering: optimizeSpeed;
}


#name{
font-family: Tiemann,serif;
font-weight: 400;
letter-spacing: 0em;
line-height: 1;
text-transform: uppercase; 
margin-top:0; 
margin-bottom:20px;
}
#pricedetails{
width:42%;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:-10px;
margin-top: -10px;
margin-bottom:20px;

}
#pricedetails>div:first-child{
text-decoration: line-through;
}
#pricedetails>div:last-child{
color: #ff4e4e;
} 
#shipping{
margin-top:-15px;
margin-bottom: 20px;
font-size: 13px;
font-family: Futura,sans-serif;
letter-spacing: .025em;
line-height: 1.6;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
text-rendering: optimizeSpeed

}
hr{
display: block;
width:90%;
margin:auto;
margin-top:25px;
height: 1px;
border: 0;
text-align: left;
margin-left:0px;
border-top: 1px solid #e8e8e1
}
/* #selectsize{
display:grid;
grid-template-columns: repeat(3,1fr);
} */
#size,#clr,#span{
font-size: 10px;
font-family: Futura,sans-serif;
margin-top: 10px;
margin-bottom: 10px;

}
#quote{
font-size: 10px;
margin-top: -5px;
}
button{
width:87%;
padding:10px;
font-size: 13px;
background-color: black;
color:white; 
margin-top: 20px;   
}
#smallimage{
width:10%;
height:50px;
border:2px solid black;
text-align: center;
margin-top: 10px;
border-radius: 55%;
margin-left:20px;
overflow: hidden;



}
#smallimage>img{
width:100%;
border-radius: 55%;

}
button+h4{
color: rgb(250, 48, 48) !important;
width:80%;
font-size: 10px; 
font-family: Arial, Helvetica, sans-serif; 
letter-spacing: .125em;
line-height: 1.6;

}
h4+p{
width:78.6%;
font-size: 11px;
font-family: Futura,sans-serif;
letter-spacing: .110em;
line-height: 1.6;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
text-rendering: optimizeSpeed
}
ul{
font-size: 12px;
margin-left:10px;
margin-top:-5px;
font-family: arial;
}
h3{
margin-left: 5px;
margin-bottom: 20px;
font-family: Arial, Helvetica, sans-serif;
}
/* #selectsize>div{
display:grid;
grid-template-columns: repeat(3,1fr);
} */


/* for you may like part */


.midhead{
font-family: Tiemann,serif;
text-align: center;
font-weight: 400;
line-height: 1;
margin-top:40px;
margin-bottom: 30px;
font-size: 22px;
}

#mid,#bottom{
display:grid;
grid-template-columns: repeat(5,1fr);
gap:10px;
}


#mid>div>img,#bottom>div>img{
width:100%
}
#likediv{
width:80%;
margin:auto;
margin-top:10px;
display:grid;
grid-template-columns: repeat(3,1fr);
gap:0px;
}

#maylike{
    position:relative;

}
#hoverdiv{
    position:absolute;
    background-color: black;
    color:white;
    width:80%;
    margin-left:9.8%;
    margin-top: -40%;
    font-size: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    display:none;

}
#maylike:hover>#hoverdiv{
    display: block;
cursor: pointer;
}
#likediv>div{
text-align: center;
}
#likediv>div:first-child{
    text-decoration: line-through;
}

#likediv>div:last-child{
color:#ff4e4e;
}


#sectiontitle{

margin: auto;
margin-top: 8px;
font-size: 11px;
letter-spacing: .125em;
font-family: Tiemann,serif;
text-align: center;
font-weight: 400;
line-height: 1;

}
.select{
display:flex;
}
.select>p{
margin-top: -5px;
padding:5px;
font-size: 13px;
border:1px solid black;
background-color: rgb(250, 250, 250);
}
#selectsize{
width:40%;
display:grid;
margin-top: 20px;
margin-bottom: 20px;
grid-template-columns: repeat(2,1fr);
grid-template-rows: repeat(2,auto);
}
#selectsize+h3{
margin-top:-74px;
margin-bottom:50px;
margin-left:80%;
text-decoration: underline;
}
#share{
width:16%;
margin-top:20px;
display:flex;
justify-content: space-between;
align-items: center;
}
#lastbar{
    width:20%;
    margin:auto;
    margin-top:15px;
    margin-top:20px;
    background-color: black;
    color:white;
    padding-top: 5px;
    padding-bottom: 7px;
    text-align: center;
}
#lastbar>a{
    font-size: 10px;;
    padding:7px;
    letter-spacing: 0.125em;
    text-decoration: none;
    color:white;

}
.fa-envelope{
    margin-top: -20px;
}



/* bottom section */



.slast>div>img {
    width: 100%;
    height: 350px;
    margin-bottom: 10px;
}

.slast {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    grid-template-rows: auto;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 15px;
}

.slast>div>h1 {
    text-align: center;
    width: 90%;
    margin: auto;
    font-size: 25px;
}

.slast>div>p {
    text-align: center;
    width: 90%;
    margin: auto;
    margin-top: 20px;
    font-size: 14px;
    font-weight: lighter;
}

.slast>div>a {
    display: flex;
    justify-content: center;
    text-decoration: none;
    margin-top: 10px;
}

.slast>div>a>button {
    color: black;
    background-color: #fff;
    border: 1px solid rgb(230, 227, 227);
    letter-spacing: 2PX;
    font-size: 12PX;
    font-family: arial;
}

.lastdiv {
    margin-top: 30px;
    background-color: rgb(214, 211, 211);
}

.lastdivx1>div {
    margin-left: 40px;
}

.lastdiv>div {
    margin-top: 40px;
    display: flex;
    line-height: 30px;
    margin-left: 25px;
}

a {
    text-decoration: none;
    color: black;
}

.lastdivx2>div>img {
    height: 20px;
    width: 20px;

}

.lastdiv>div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto;
    gap: 30px;
}

.lastdivx1 {
    display: flex;
    margin: auto;
}

.lastdiv>img {
    margin-left: 500px;
}

#blueflyx1 {
    margin: 40px;
    margin-left: 450px;
}







@media all and (min-width:250px) and (max-width:800px){
    #main{
        display:grid;
        grid-template-columns: repeat(1,1fr);
    }
    #left{
        width:100%;
        margin:auto;
        padding:0px;
    }
    #firstleft{
        width:0%;
        display:none;
    }
    #secondleft{
        width:100%;
        padding:0px;
        margin-left: 15%;
    }
    #selectsize{
        display:grid;
        grid-template-columns: repeat(2,1fr);
    }
    #right{
        width:100%;
        text-align: center;
    }
    #pricedetails{
        width:70%;
        margin-left:20%;
    }
    #selectsize{
        width:40%;
        margin:auto;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(3,auto);
        }
        #selectsize+h3{
            margin-right:-10%;
        }
        #smallimage{
            margin:auto;
        }
        #mid,#bottom{
            display:grid;
            grid-template-columns: repeat(2,1fr);
            gap:10px;
            }
            #likediv{
                width:80%;
                margin:auto;
                margin-top:10px;
                display:grid;
                grid-template-columns: repeat(2,1fr);
                gap:5px;
            }
                button+h4{
                    width:95%;
                    margin:auto;
                    margin-top:20px;
                }
                h4+p{
                    width:95%;
                    margin:auto;
                    margin-top:20px;
                    margin-bottom:10px;
                }
                ul{
                    text-align: left;
                }
                .nav{
                    display:none;
                }
                #selectsize{
                    margin-top: 20px;
                    margin-left: 20px;
                }
                #selectsize>div{
                    margin-top:8px;
                }
                #lastbar{
                    width:80%;
                }
                .slast {
                    grid-template-columns: repeat(1, 1fr);
                
                    grid-template-rows: repeat(3,auto);
                    gap: 20px;
                }
                
.zxlogobox1>a>img {
padding:0;
margin-left:30%;
}
                
}